@import "tailwindcss";

*{margin: 0;
padding: 0;

}

.header{
  height:100vh;
  width:100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../../public/banner.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 12px 12px;
  margin: 0 20px 0;
}

nav img{
  width: 150px;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  
}

.nav-links ul li::after{
  content :'';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1{
  font-size: 64px;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  padding: 12px 36px;
  font-size: 16px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;position: relative;
  cursor: pointer;
}

.hero-btn:hover{
  border:1px solid #f44336;
  background: #f44336;
  transition: 0.5s;
}

nav .fa{
  display: none;

}

@media (max-width: 700px){
  .text-box h1{
    font-size: 24px;
  }

  .nav-links ul li{
    display: block;
  }

  .nav-links{
    position: absolute;
    width: 200px;
    height: 100vh;
    background: #f44336;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    

  }

  nav .fa{
    display: block;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
  }

  .nav-links ul{
    padding: 30px;
  }
}


/* couurse */

.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.course h1{
  font-size: 36px;
 font-weight: 600;
}

.course p{
  color: #777;
  font-size: 16px;
 font-weight: 300;
 line-height: 22px;
 padding: 10px;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.course-col h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media (max-width: 700px){
  .row{
    flex-direction: column;
  }

  .course-col{
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

/* .............campus.......... */

.campus{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus h1{
  font-size: 36px;
 font-weight: 600;
}

.campus p{
  color: #777;
  font-size: 16px;
 font-weight: 300;
 line-height: 22px;
 padding: 10px;
}

.campus-col{
  flex-basis: 32%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
 

}

.campus-col img{
  width: 100%;
  height: 100%;
  display: block;
}

.layer{
  position: absolute;
  width: 100%;
  height: 100%;
  background:transparent;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover{
  background: rgba(226,0,0,0.7);
}

.layer h3{
  width: 100%;
  font-weight: 500;
  color: #fff;
  position: absolute;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3{
  bottom: 49%;
  opacity: 1;

}

/* ----------------facitity------- */

.facilities{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.facilities h1{
  font-size: 36px;
 font-weight: 600;
}
.facilities p{
  color: #777;
  font-size: 16px;
 font-weight: 300;
 line-height: 22px;
 padding: 10px;
}

.facilities-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 10%;
  text-align: left;
}

.facilities-col img{
  width: 100%;
  border-radius: 10px;
}

.facilities-col p{
  padding: 0;
}

.facilities-col h3{
  margin: 16px 0 12px;
  text-align: left;
  font-weight: 500;
}

/* ------------------------testomonials------ */
.testomonials{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.testomonials h1{
  font-size: 36px;
 font-weight: 600;
}
.testomonials p{
  color: #777;
  font-size: 16px;
 font-weight: 300;
 line-height: 22px;
 padding: 10px;
}

.testomonial-col{
  flex-basis: 44%;
  border-radius: 10px;
  border-bottom: 10%;
  text-align: left;
  background: #fff3f3;
  padding:25px ;
  cursor: pointer;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  transition: 0.5s;
}

.testomonial-col img{
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 30px;
}

.testomonial-col h3{
  margin: 0;
  font-weight: 600;
} 

.testomonial-col p{
  margin: 10px 0 0;
  color: #777;
  font-size: 14px;
 font-weight: 300;
 line-height: 20px;
}

@media (max-width: 700px){
  .testomonial-col{
    flex-direction: column;
    text-align: center;
  }

  .testomonial-col img{
    margin: 0 0 10px 0;
  }
}

/* -------------------------cta------------------- */
.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1{
  font-size: 34px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px){
  .row{
    flex-direction: column;
  }

  .course-col{
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .cta h1{
    font-size: 24px;
  }
}